<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- Stylesheets references -->
    <link rel="stylesheet" href="../assets/css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" 
        integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
        
    <link rel="icon" href="../assets/images/icons/mago.png">
    
    <title>Mägo de Oz- Discografía</title>
</head>

<body id="id_body">

    <!-- Eductional basic information -->
    <p class="subject">
        Universidad Centroamericana "José Simeón Cañas".<br>
        Programacion de N-Capas.<br>
        Ciclo 01/19.
    </p>

    <!-- Front image -->
    <header id="front-img" style="background-image: url('../assets/images/main/iradei.jpg');">
        <div class="blackManta">
            <!-- Float menu implementation -->
            <div class="float-menu">
                <div class="menu-content">
                    <i class="fas fa-bars"></i>
                </div>
                <nav class="menu-side">
                    <div></div>
                    <ul>
                        <li><a href="#intro">Introducción</a><i class="fas fa-infinity"></i></li>
                        <li><a href="#discos">Discografía</a><i class="fas fa-compact-disc"></i></li>
                    </ul>
                </nav>
            </div>
            <div class="main-front">
                <h1>Mägo de Oz - Discografía.</h1>
                <h3>Viernes, 29 de Marzo de 2019.</h3>
                <i class="fas fa-chevron-down" id="down-button"></i>
            </div>
        </div>
    </header>

    <!-- Main Content -->
    <article class="content">
        <!-- Main title -->
        <header class="title-content" id="title-content">
            <div id="brand">
                <h1>Mägo de Oz.</h1>
            </div>
            <div id="content-brand">
                <h5>Review de discografía.</h5>
            </div>
        </header>

        <section id="intro">
            <h3>Introducción.</h3>

            <p>
                Mägo de Oz es una banda española de folk metal fundada el 7 de julio de 1988 por el baterista Txus di Fellatio en el barrio de Begoña en Madrid. Inicialmente se llamó Transilvania, en honor a la canción homónima del sexteto inglés Iron Maiden, y adoptó el nombre definitivo de Mägo de Oz en 1989.
            </p>

            <p>
                Se caracterizan por su heterogénea y peculiar propuesta musical de mezclar el sonido del metal y hard rock tradicional, con la música clásica, el rock and roll, el blues, la música celta, la música folk, entre otros. Sin embargo, la música celta es la que más ha predominado en el sonido de la banda hasta la actualidad.
            </p>

            <p>
                Consagrados como una de las bandas más importantes del heavy metal español, saltaron al éxito en 1998 con el disco La leyenda de la Mancha, llegando a las listas de éxitos musicales de España con canciones como «Molinos de viento» o «Fiesta pagana», esta última de su primer disco conceptual doble, Finisterra.
            </p>

            <p>
                A lo largo de su carrera, Mägo de Oz ha sufrido numerosos cambios de integrantes, siendo Txus di Fellatio el único miembro original que continúa en la banda. 
            </p>

            <p>
                Referencia: <a href="https://es.wikipedia.org/wiki/M%C3%A4go_de_Oz">Mägo de Oz = Wikipedia</a>
            </p>
            
            <figure>
                <img src="../assets/images/review_mago/Mago1.jpg" alt="">
            </figure>
        </section>
        <section id="discos">
            <h2>Discografía</h2>

            <section>
                <h3>Mägo de Oz (1994)</h3>

                <p>
                    Primer álbum del grupo. A diferencia de trabajos posteriores, esta producción tiene arreglos de jazz, blues, country y rock and roll, ritmos que son muy distintos a los actuales y que prevalecieron en un par de canciones del siguiente álbum <em>Jesús de Chamberí</em>.
                </p>

                <figure>
                    <img style="width:25em" src="../assets/images/review_mago/mago2.jpg" alt="">
                </figure>

                <h4>Canciones:</h4>

                <ol>
                    <li>
                        «T'Esnucaré Contra'l Bidé»
                    </li>
                    <li>
                        «El Lago»
                    </li>
                    <li>
                        «Rock Kaki Rock»
                    </li>
                    <li>
                        «Gerdundula»
                    </li>
                    <li>
                        «Lo que el viento se dejó»
                    </li>
                    <li>
                        «Yankees go Home»
                    </li>
                    <li>
                        «El Hijo del Blues»
                    </li>
                    <li>
                        «Nena»
                    </li>
                    <li>
                        «Gimme Some Lovin'»
                    </li>
                    <li>
                        «Mägo de Oz»
                    </li>
                </ol>
            </section>

            <section>
                <h3>Jesús de Chamberí (1996)</h3>

                <p>
                    Jesús de Chamberí es el nombre del segundo álbum de estudio de Mägo de Oz, lanzado en 1996 con su nueva discográfica, Locomotive Music, y con dos nuevos integrantes: José (vocalista) y Frank (guitarra).
                </p>

                <p>
                    Este disco fue, además de su ópera prima, el primero en el cual sus canciones giran en torno a una temática común. En él, narran una segunda llegada de Jesucristo, en el distrito de Chamberí en la ciudad de Madrid de finales del siglo XX.
                </p>

                <figure>
                    <img style="width:25em" src="../assets/images/review_mago/mago3.jpg" alt="">
                </figure>

                <h4>Canciones:</h4>

                <ol>
                    <li>
                        «Génesis» (Intro)
                    </li>
                    <li>
                        «Jesús de Chamberí»
                    </li>
                    <li>
                        «El Ángel Caído»
                    </li>
                    <li>
                        «Al-Mejandría»
                    </li>
                    <li>
                        «El Cuco y la Zíngara»
                    </li>
                    <li>
                        «Hasta que tu muerte nos separe»
                    </li>
                    <li>
                        «La Canción de Pedro»
                    </li>
                    <li>
                        «Domingo de Gramos»
                    </li>
                    <li>
                        «Jiga Irlandesa»
                    </li>
                    <li>
                        «El Cantar de la Luna Oscura»
                    </li>
                    <li>
                        «Judas»
                    </li>
                    <li>
                        «La Última Cena»
                    </li>
                    <li>
                        «Czardas»
                    </li>
                    <li>
                        «El Fin del Camino»
                    </li>
                </ol>
            </section>

            <section>
                <h3>La leyenda de La Mancha (1998)</h3>

                <p>
                    La leyenda de La Mancha es el nombre del tercer álbum de estudio del grupo español Mägo de Oz. En él se continúa planteando sus canciones en forma de álbum conceptual, esta vez usando uno de los mayores clásicos de la literatura universal: «Don Quijote de La Mancha», de Miguel de Cervantes. En la introducción del libreto, Txus habla del clásico castellano y nos invita a su lectura. El álbum, según dice, es «un modesto homenaje». Todas las canciones del álbum comienzan con unas pequeñas palabras que introducen la canción, análogamente a los títulos de cada capítulo de Don Quijote.
                </p>

                <p>
                    La original portada es de Gaboni, como ocurre con la mayoría de los discos de Mägo de Oz. En ella se muestra a un don Quijote roquero, con una camiseta de AC/DC; lector, con torres de libros y con uno abierto; fumador, con un paquete de tabaco y la bacía por cenicero; cervecero y, sobre todo, soñador, con todas las imágenes sobre su cabeza. En la contraportada se puede ver a un Don Quijote con una guitarra eléctrica Fender al lado de un Sancho Panza poco aseado, con una camiseta de Motörhead bajo una chaqueta de cuero, y con un pendiente y un tatuaje.
                </p>

                <figure>
                    <img style="width:25em" src="../assets/images/review_mago/mago4.jpg" alt="">
                </figure>

                <h4>Canciones:</h4>

                <ol>
                    <li>
                        «En un Lugar ...»
                    </li>
                    <li>
                        «El Santo Grial»
                    </li>
                    <li>
                        «La Leyenda de la Mancha»
                    </li>
                    <li>
                        «Noche Toledana»
                    </li>
                    <li>
                        «Molinos de viento»
                    </li>
                    <li>
                        «Dime con quién andas»
                    </li>
                    <li>
                        «Maritornes»
                    </li>
                    <li>
                        «El Bálsamo de Fierabrás»
                    </li>
                    <li>
                        «El Pacto»
                    </li>
                    <li>
                        «La Ínsula de Barataria»
                    </li>
                    <li>
                        «El Templo del Adiós»
                    </li>
                    <li>
                        «Réquiem»
                    </li>
                    <li>
                        «Ancha es Castilla (Epílogo)»
                    </li>
                </ol>
            </section>

            <section>
                <h3>Finisterra (2000)</h3>

                <p>
                    Finisterra es el nombre del cuarto álbum de estudio del grupo español Mägo de Oz, un disco doble con el que la banda rompió su silencio de dos años. Contiene varias de las canciones más populares del grupo, como Fiesta pagana, Astaroth, Hasta que el cuerpo aguante, El que quiera entender que entienda, La danza del fuego, Finisterra o La Santa Compaña. Es considerado por muchos fanáticos como el mejor álbum de la banda.
                </p>

                <p>
                    El disco mezcla folk característico de Mägo de Oz con las bases rítmicas propias del grupo, todo sostenido por una historia escrita por Txus di Fellatio, líder y baterista de la banda. Para la grabación de este disco se unieron a la banda Sergio Cisneros Anguita Kiskilla al piano, teclado y acordeón, y Fernando Ponce de León con la flauta travesera y los whistles irlandeses .
                </p>

                <figure>
                    <img style="width:25em" src="../assets/images/review_mago/mago5.jpg" alt="">
                </figure>

                <h4>Canciones:</h4>

                <ol>
                    <h4>Disco 1</h4>
                    <li>
                        «Prólogo»
                    </li>
                    <li>
                        «Satania»
                    </li>
                    <li>
                        «La cruz de Santiago»
                    </li>
                    <li>
                        «La danza del fuego»        
                    </li>
                    <li>
                        «Hasta que el cuerpo aguante»
                    </li>
                    <li>
                        «El señor de los gramillos»
                    </li>
                    <li>
                        «Polla dura no cree en Dios»        
                    </li>
                    <li>
                        «Maite Zaitut»
                    </li>
                    <li>
                        «Duerme... (Canción de cuna)»
                    </li>
                    <li>
                        «Es hora de marchar»
                    </li>
                    <h4>Disco 2</h4>
                    <li>
                        «Fiesta pagana»
                    </li>
                    <li>
                        «El que quiera entender que entienda»
                    </li>
                    <li>
                        «Los renglones torcidos de Dios»
                    </li>
                    <li>
                        «La dama del amanecer (Kelpie)»
                    </li>
                    <li>
                        «Tres tristes tigres»
                    </li>
                    <li>
                        «A Costa da Morte»
                    </li>
                    <li>
                        «La Santa Compaña»
                    </li>
                    <li>
                        «Conxuro (da queimada)»
                    </li>
                    <li>
                        «Astaroth»
                    </li>
                    <li>
                        «Finisterra»
                    </li>
                </ol>
            </section>

            <section>
                <h3>Gaia (2003)</h3>

                <p>
                    Gaia es el nombre del quinto álbum de estudio del grupo de folk metal español Mägo de Oz, sacado a la venta el 8 de septiembre de 2003.
                </p>

                <p>
                    El disco cuenta la historia de una latina llamada Alma Echegaray ejecutada en Atlanta en 2002, que resucita y le cuenta al gobernador de Georgia la historia de una joven azteca llamada Azaak y su romance con un marino español llamado Pedro de Alcázar en 1520. Revela la problemática de la conquista y un grito musical de Mägo por la libertad, y por el amor a la naturaleza. La historia del libreto es, cariñosamente, para Txus, su escritor, su "pequeña novela"
                </p>

                <p>
                    Este disco es la primera parte de la trilogía Gaia. Su sonido es un poco diferente al de los otros álbumes del grupo, sonando más folclórico y agregando más variedad de instrumentos, principalmente Andinos (como por ejemplo, el charango en «El Atrapasueños»). Es también el primer disco de la banda en contener únicamente material original compuesto por Mägo de Oz.
                </p>

                <figure>
                    <img style="width:25em" src="../assets/images/review_mago/mago6.jpg" alt="">
                </figure>

                <h4>Canciones:</h4>

                <ol>
                    <li>
                        «Obertura MDXX»
                    </li>
                    <li>
                        «Gaia»
                    </li>
                    <li>
                        «La conquista»
                    </li>
                    <li>
                        «Alma»
                    </li>
                    <li>
                        «La costa del silencio»
                    </li>
                    <li>
                        «El árbol de la noche triste»
                    </li>
                    <li>
                        «La Rosa de los Vientos»
                    </li>
                    <li>
                        «La leyenda de la Llorona»
                    </li>
                    <li>
                        «Van a rodar cabezas»
                    </li>
                    <li>
                        «El atrapasueños»
                    </li>
                    <li>
                        «Si te vas»
                    </li>
                    <li>
                        «La venganza de Gaia»
                    </li>
                    
                </ol>
            </section>

            <section>
                <h3>Belfast (2004)</h3>

                <p>
                    Belfast es el nombre de un álbum de estudio del grupo español de folk metal Mägo de Oz; consistente en un disco de versiones tanto de temas de bandas famosas como Asfalto, Boney M o Rata Blanca, como de ellos mismos, dándole un toque diferente a sus canciones. El disco hace referencia, como su nombre indica, a la capital de Irlanda del Norte (Belfast), lugar de conflictos religiosos.
                </p>

                <figure>
                    <img style="width:25em" src="../assets/images/review_mago/mago7.jpg" alt="">
                </figure>

                <h4>Canciones:</h4>

                <ol>
                    <li>
                            «Intro: Irish Pub»
                    </li>
                    <li>
                            «Belfast» 
                    </li>
                    <li>
                            «La rosa de los vientos (Versión metal)»
                    </li>
                    <li>
                            «Dame tu amor»
                    </li>
                    <li>
                            «Mujer amante»
                    </li>
                    <li>
                            «Alma (Versión orquestal)»
                    </li>
                    <li>
                            «Más que una intención» 
                    </li>
                    <li>
                            «Dama negra»
                    </li>
                    <li>
                            «Todo irá bien»
                    </li>
                    <li>
                            «Se acabó»
                    </li>
                    <li>
                            «Hasta que tu muerte nos separe (Versión orquestal)»
                    </li>
                    <li>
                            «Somewhere over the rainbow»
                    </li>
                </ol>
            </section>

            <section>
                <h3>Gaia II: La voz dormida (2005)</h3>

                <p>
                    Gaia II: La voz dormida es el nombre del sexto álbum de estudio lanzado por el grupo español Mägo de Oz, el 14 de noviembre de 2005. Este disco es la segunda parte de la trilogía Gaia, que está conformada por los disco Gaia I, "Gaia II" y Gaia III: Atlantia. El material fue lanzado en formato digibook y jewel case.
                </p>

                <p>
                    Las letras del disco, compuestas por el baterista de la banda Txus di Fellatio, causaron polémica debido a la fuerte critica hacia la Iglesia católica. El disco fue producido por el difunto Big Simon. Para este disco se incorporó un nuevo guitarrista, Jorge Salán, que ya había colaborado en la gira de Gaia I y en la grabación y gira de Belfast, así como el bajista Pedro Díaz "Peri", proveniente de la banda española de folk Ars Amandi.
                </p>

                <p>
                    Al igual que en el disco Gaia I, José Andrëa (vocalista), deja a un lado las tesituras más agudas haciendo uso de voces más graves y oscuras en canciones como "Diabulus in Musica" o "Aquelarre". El estilo en este álbum difiere de sus anteriores trabajos, alejándose de su estilo tradicional heavy/folk y enfocándose en un estilo más oscuro y sinfónico pudiendo llegar a considerarse como gótico, sin dejar pasar por sus momentos power y heavy metal con toques folk. Al igual que en Gaia I, la composición es más madura y más elaborada que en sus antiguos trabajos siendo considerado como el álbum más complejo de la banda.
                </p>

                <figure>
                    <img style="width:25em" src="../assets/images/review_mago/mago8.jpg" alt="">
                </figure>

                <h4>Canciones:</h4>

                <ol>
                    <h4>Disco 1</h4>
                    <li>
                            «Volaverunt opus 666»
                    </li>
                    <li>
                            «La voz dormida»
                    </li>
                    <li>
                            «Hazme un sitio entre tu piel»
                    </li>
                    <li>
                            «El poema de la lluvia triste»
                    </li>
                    <li>
                            «El callejón del infierno»
                    </li>
                    <li>
                            «El paseo de los tristes»
                    </li>
                    <li>
                            «La posada de los muertos»
                    </li>
                    <li>
                            «Desde mi cielo»
                    </li>
                    <li>
                            «En nombre de Dios»
                    </li>
                    <h4>Disco 2</h4>

                    <li>
                            «Íncubos y súcubos»
                    </li>
                    <li>
                            «Diabulus in musica»
                    </li>
                    <li>
                            «Mañana empieza hoy»
                    </li>
                    <li>
                            «El príncipe de la dulce pena»
                    </li>
                    <li>
                            «Aquelarre»
                    </li>
                    <li>
                            «Hoy toca ser feliz»
                    </li>
                    <li>
                            «Creo (La voz dormida - Parte II)»
                    </li>
                    <li>
                            «La Cantata del Diablo (Missit Me Dominus)»
                    </li>
                </ol>
            </section>

            <section>
                <h3>La ciudad de los árboles (2007)</h3>

                <p>
                    La Ciudad de los Árboles es el nombre del séptimo álbum de estudio del grupo de folk metal español, Mägo de Oz, y fue lanzado el día 3 de diciembre de 2007. Fue lanzado como disco conceptual. El disco de La ciudad de los árboles llegó a alcanzar Disco de Oro por sus más de 40 000 copias vendidas solo en España que contribuyó a que en el 27 de marzo de 2008, a obtener un Disco de Diamante, por superar 1 000 000 de copias vendidas de su discografía en España durante los más de 20 años de trayectoria de la banda.
                </p>

                <p>
                    Según han declarado diversos integrantes del grupo, en este disco pretenden alejarse de las complejidades en la composición de canciones que se han visto en las dos partes publicadas hasta ese momento de su trilogía "Gaia", y realizar canciones más breves e incisivas, con temas que no superan los seis minutos. 
                </p>

                <figure>
                    <img style="width:25em" src="../assets/images/review_mago/mago9.jpg" alt="">
                </figure>

                <h4>Canciones:</h4>

                <ol>
                    <li>
                            «El espíritu del bosque»
                    </li>
                    <li>
                            «La ciudad de los árboles»
                    </li>
                    <li>
                            «Mi nombre es rock'n'roll»
                    </li>
                    <li>
                            «El rincón de los sentidos»
                    </li>
                    <li>
                            «Deja de llorar (y vuélvete a levantar)»
                    </li>
                    <li>
                            «La canción de los deseos»
                    </li>
                    <li>
                            «Y ahora voy a salir (Ranxeira)»
                    </li>
                    <li>
                            «Runa llena»
                    </li>
                    <li>
                            «Resacosix en la barra (Resacosix en Hispania - Parte II)»
                    </li>
                    <li>
                            «No queda sino batirnos»
                    </li>
                    <li>
                            «Sin ti, sería silencio (Parte II)»
                    </li>
                    <li>
                            «Si molesto, me quedo»
                    </li>
                    <li>
                            «El espíritu del bosque II» 
                    </li>
                </ol>
            </section>

            <section>
                <h3>Gaia III: Atlantia (2010)</h3>

                <p>
                    Gaia III: Atlantia es el nombre del octavo álbum de estudio y el último de la trilogía de Gaia, del grupo español Mägo de Oz. Fue lanzado el 6 de abril de 2010 en distintos países de Europa y América excepto en México, donde fue lanzado el 19 de abril.
                </p>

                <p>
                    El sonido del álbum se caracteriza por ser más oscuro que los anteriores trabajos de Mägo de Oz, cobrando mayor protagonismo las guitarras altamente distorsionadas y la utilización de una orquesta para dotar a los matices musicales de mayor profundidad acordes al contenido oscuro de las letras. Se pueden encontrar referencias líricas a varias canciones de los anteriores álbumes de la trilogía Gaia, también hay continuaciones de canciones tanto de la trilogía como de proyectos aparte de ella (Por ejemplo: "Siempre", que es la segunda parte de "Adiós, Dulcinea", perteneciente al álbum Gaia: Epílogo.).
                </p>

                <figure>
                    <img style="width:25em" src="../assets/images/review_mago/mago10.jpg" alt="">
                </figure>

                <h4>Canciones:</h4>

                <ol>
                    <h4>Disco 1</h4>
                    <li>
                            «El latido de Gaia»
                    </li>
                    <li>
                            «Dies Irae (La ira de Dios)»
                    </li>
                    <li>
                            «Für Immer»
                    </li>
                    <li>
                            «Vodka 'n' roll»
                    </li>
                    <li>
                            «El príncipe de la dulce pena (Parte IV)»
                    </li>
                    <li>
                            «Mi hogar eres tú»
                    </li>
                    <li>
                            «Fuerza y honor (El Dorado)»
                    </li>
                    <li>
                            «El violín del diablo»
                    </li>
                    <li>
                            «Siempre (Adiós Dulcinea - Parte II)»
                    </li>
                    <h4>Disco 2</h4>

                    <li>
                            «Mis demonios (Atrévete a vivir)»
                    </li>
                    <li>
                            «Que el viento sople a tu favor»
                    </li>
                    <li>
                            «Sueños dormidos»
                    </li>
                    <li>
                            «Aún amanece gratis»
                    </li>
                    <li>
                            «La soga del muerto (Ayahuasca)»
                    </li>
                    <li>
                            «La ira de Gaia»
                    </li>
                    <li>
                            «Atlantia»
                    </li>
                </ol>
            </section>

            <section>
                <h3>Gaia: epílogo (2010)</h3>

                <p>
                    Gaia: Epílogo es el nombre de un álbum de estudio de Mägo de Oz sacado al mercado el día 30 de noviembre de 2010. A diferencia de sus anteriores trabajos, sus canciones no se ciñen a ninguna historia, sino que es un recopilatorio de canciones que quedaron fuera de la trilogía Gaia.
                </p>
                
                <figure>
                    <img style="width:25em" src="../assets/images/review_mago/mago11.jpg" alt="">
                </figure>

                <h4>Canciones:</h4>

                <ol>
                    <li>
                            «Madre Tierra»
                    </li>
                    <li>
                            «El líder»
                    </li>
                    <li>
                            «Para que no muera de frío una canción, llénala de rock'n'roll»
                    </li>
                    <li>
                            «Y serás canción 2010»
                    </li>
                    <li>
                            «In memorian (15/4/83 - 25/4/10)»
                    </li>
                    <li>
                            «Las lágrimas de Gaia»
                    </li>
                    <li>
                            «Puedes contar conmigo»
                    </li>
                    <li>
                            «Cuánto cabe en un adiós»
                    </li>
                    <li>
                            «Adiós Dulcinea»
                    </li>
                    <li>
                            «Epílogo»
                    </li>
                </ol>
            </section>

            <section>
                <h3>Hechizos, pócimas y brujería (2012)</h3>

                <p>
                    Hechizos, pócimas y brujería es el nombre del noveno álbum de estudio de la banda de folk metal Mägo de Oz, que fue publicado el 27 de noviembre de 2012. Después de la polémica salida de su anterior cantante José Andrëa, este el primer álbum con Zeta como vocalista de la banda.
                </p>

                <figure>
                    <img style="width:25em" src="../assets/images/review_mago/mago12.jpeg" alt="">
                </figure>

                <h4>Canciones:</h4>

                <ol>
                    <li>
                            «El libro de las sombras»
                    </li>
                    <li>
                            «H2Oz»
                    </li>
                    <li>
                            «Xanandra»
                    </li>
                    <li>
                            «Sácale brillo a una pena»
                    </li>
                    <li>
                            «Satanael»
                    </li>
                    <li>
                            «No pares (de oír Rock & Roll)»
                    </li>
                    <li>
                            «A marcha das meigas»
                    </li>
                    <li>
                            «Quiero morirme en ti»
                    </li>
                    <li>
                            «Sigue la luz»
                    </li>
                    <li>
                            «El mercado de las brujas»
                    </li>
                    <li>
                            «Celtian»
                    </li>
                    <li>
                            «Brujas»
                    </li>
                    <li>
                            «Hechizos, pócimas y brujería»
                    </li>
                    <li>
                            «Piratas»
                    </li>
                    <li>
                            «Desde mi cielo (Orquestal)»
                    </li>
                    <li>
                            «Obertura Xanandra»
                    </li>
                </ol>
            </section>

            <section>
                <h3>Ilussia (1994)</h3>

                <p>
                    Ilussia es el nombre del décimo álbum de estudio de Mägo de Oz, lanzado el 21 de octubre de 2014; se trata de un disco conceptual. Y ha sido definido por Txus di Fellatio como "El disco que debió ser Gaia III: Atlantia"
                </p>

                <p>
                    La trama del disco se centra en un circo abandonado y maldito que cobra vida en medio de un bosque, donde una niña se encuentra con su hermano cuando juega al escondite, la niña se encuentra una luz que termina por transformarse en un payaso de nombre Skippy. La historia ha sido escrita por Txus con ayuda de Mario Ruiz de Krea Films
                </p>

                <figure>
                    <img style="width:25em" src="../assets/images/review_mago/mago13.jpg" alt="">
                </figure>

                <h4>Canciones:</h4>

                <ol>
                    <li>
                            «Pensatorium»
                    </li>
                    <li>
                            «Melodian»
                    </li>
                    <li>
                            «Abracadabra»
                    </li>
                    <li>
                            «Vuela alto»
                    </li>
                    <li>
                            «Si supieras...»
                    </li>
                    <li>
                            «Pasen y beban»
                    </li>
                    <li>
                            «Salvaje»
                    </li>
                    <li>
                            «La viuda de O'Brian»
                    </li>
                    <li>
                            «Cadaveria»
                    </li>
                    <li>
                            «Constelación Alpha DCI»
                    </li>
                    <li>
                            «De la piel del Diablo»
                    </li>
                    <li>
                            «Ilussia»
                    </li>
                    <li>
                            «Moriré siendo de ti»
                    </li>
                </ol>
            </section>

            <section>
                <h3>Ira Dei (2019)</h3>

                <p>
                    Ira Dei es el undécimo álbum de estudio de la banda española de folk metal Mägo de Oz. Salió a la venta el día 8 de marzo de 2019. Este ha sido descrito como la continuación del álbum "Jesus de Chamberí".
                </p>

                <figure>
                    <img style="width:25em" src="../assets/images/review_mago/mago14.jpg" alt="">
                </figure>

                <h4>Canciones:</h4>

                <ol>
                    <h4>Disco 1</h4>
                    <li>
                            «Jerusalem D.C»
                    </li>
                    <li>
                            «In Eternum»
                    </li>
                    <li>
                            «El amor brujo»
                    </li>
                    <li>
                            «Tu funeral»
                    </li>
                    <li>
                            «Ciudad Esmeralda»
                    </li>
                    <li>
                            «Tequila tanto por vivir»
                    </li>
                    <li>
                            «Te traeré el horizonte»
                    </li>
                    <li>
                            «Opera Mortis»
                    </li>
                    <li>
                            «La cantiga de las brujas»
                    </li>
                    <li>
                            «Espera en el cielo»
                    </li>
                    <h4>Disco 2</h4>
                    <li>
                            «Opus Tenebrae»
                    </li>
                    <li>
                            «Suspiria»
                    </li>
                    <li>
                            «Y que nunca te falte un "Te quiero"»
                    </li>
                    <li>
                            «Bajo mi piel»
                    </li>
                    <li>
                            «La triste historia de Jimmy "Tiro en el pie"»
                    </li>
                    <li>
                            «Infinitum»
                    </li>
                    <li>
                            «El séptimo sello»
                    </li>
                    <li>
                            «Ira Dei»
                    </li>
                </ol>
            </section>

        </section>
        
    </article>

    <!-- Footer Implementation -->
    <footer>
        <article>
            <p><em>
                “Elegí este nombre porque, como en la película, la vida es un camino de baldosas amarillas, en el que caminamos en compañía de otros buscando nuestros sueños”
            </em></p>
            
            <p id="author">
                Txus di Fellatio.
            </p>
        </article>
    </footer>

    <!-- Home Button -->
    <span id="HomeBtn"><i class="fas fa-chevron-up"></i></span>
</body>

<!-- JS scripts area -->
<script src="../assets/js/jquery-3.3.1.min.js"></script>
<script src="../assets/jquery-ui-1.12.1/jquery-ui.min.js"></script>
<script src="../assets/js/javaScript.js"></script>
<script>
    sideMenuControl();
    homeBtnControl();
</script>

</html>